<section id="slideshow">
  <div class="uk-position-relative" tabindex="-1" uk-slideshow="
    animation: fade;
    autoplay: true;
    min-height: 400;
    max-height: 680">
    <ul class="uk-slideshow-items">
      <li style="background-image: url(/assets/images/slider1.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
      <li style="background-image: url(/assets/images/slider2.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
      <li style="background-image: url(/assets/images/slider3.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
      <li style="background-image: url(/assets/images/slider4.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
      <li style="background-image: url(/assets/images/slider5.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
      <li style="background-image: url(/assets/images/slider6.jpg)">
        <div class="uk-position-center uk-position-small uk-text-center">
          <h1 uk-slideshow-parallax="x: 100,-100">SCISSORS</h1>
          <img src="/assets/images/slider-item-icon.png" alt="">
          <h2 uk-slideshow-parallax="x: 200,-200">TE PONE DE MODA</h2>
        </div>
      </li>
    </ul>
    <a class="
      uk-position-center-left 
      uk-position-small 
      uk-hidden-hover" 
      href="#" 
      uk-slidenav-previous 
      uk-slideshow-item="previous">
    </a>
    <a class="
      uk-position-center-right 
      uk-position-small 
      uk-hidden-hover" 
      href="#" 
      uk-slidenav-next 
      uk-slideshow-item="next">
    </a>
    <ul class="uk-position-bottom uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</section>

<section id="about-us" class="uk-section-large">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div class="uk-width-1-1">
        <div class="section-title uk-width-2-3@m uk-margin-auto uk-text-center">
          <h2>Sobre Nosotros</h2>
          <div class="uk-width-1-2@m uk-margin-auto title-divider">
            <i class="fi flaticon-scissors-cutting-hair"></i>
          </div>
          <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he so join us her are sure to get a smile from seven stranded.</p>
        </div>
      </div>
      <div class="uk-flex">
        <img src="/assets/images/about-us.png" alt="Sobre Nosotros">
      </div>
      <div>
        <div class="uk-flex uk-flex-column">
          <div class="about-us-item uk-margin-medium-bottom">
            <i class="fi flaticon-scissors-3 about-us-icon"></i>
            <div>
              <h3>Más de 20 años de experiencia</h3>
              <hr class="uk-divider about-us-divider">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae facere nostrum a, ipsa. Fugiat porro dolorum, repellat alias ratione fugit tempore delectus quae rerum nesciunt commodi in maxime consequatur excepturi.</p>
            </div>
          </div>
          <div class="about-us-item uk-margin-medium-bottom">
            <i class="fi flaticon-male-hair-salon about-us-icon"></i>
            <div>
              <h3>Estilistas profesionales</h3>
              <hr class="uk-divider about-us-divider">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae ex perferendis cumque! Laudantium facere libero soluta doloremque, dolores itaque in dolorum suscipit quasi, provident, vero consectetur ea veniam corrupti possimus.</p>
            </div>
          </div>
          <div class="about-us-item uk-margin-medium-bottom">
            <i class="fi flaticon-hair-salon-badge-circle-with-three-bottles about-us-icon"></i>
            <div>
              <h3>Productos 100% de marca</h3>
              <hr class="uk-divider about-us-divider">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Quas maxime laborum cupiditate, dolores quis alias modi quasi nesciunt quae vero dignissimos obcaecati ex sequi. Rerum, optio voluptatem laborum. Fuga, voluptas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="counter" class="uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-large uk-child-width-1-1 uk-child-width-1-4@m" uk-grid>
      <div class="progress-work">
        <h2 class="value" akhi="2500">0</h2>
        <i class="fi flaticon-comb"></i>
        <p>Clientes satisfechos</p>
      </div>
      <div class="progress-work">
        <h2 class="value" akhi="500">0</h2>
        <i class="fi flaticon-comb"></i>
        <p>Tazas de café</p>
      </div>
      <div class="progress-work">
        <h2 class="value" akhi="150">0</h2>
        <i class="fi flaticon-comb"></i>
        <p>Estilistas</p>
      </div>
      <div class="progress-work">
        <h2 class="value" akhi="45">0</h2>
        <i class="fi flaticon-comb"></i>
        <p>Sucursales</p>
      </div>
    </div>
  </div>
</section>

<section id="client-say" class="uk-section-large overlay-dark uk-light">
  <div class="uk-container">
    <div class="uk-grid-large" uk-grid>
      <div class="uk-width-1-1">
        <div class="section-title uk-width-2-3@m uk-margin-auto uk-margin-medium-bottom uk-text-center">
          <h2>Clientes</h2>
          <div class="uk-width-1-2@m uk-margin-auto title-divider">
            <i class="fi flaticon-scissors-cutting-hair"></i>
          </div>
        </div>
          <div class="uk-position-relative uk-margin-auto" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-1">
              <li>
                <div class="uk-width-3-4">
                  <img class="uk-border-circle" src="/assets/images/client-say-author.png" alt="Autor">
                  <p> These days are all Happy and Free these days are all share them with me oh baby the Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch the no one you see is smarter than he so joinus Flipper Flipper faster.</p>
                  <hr>
                  <p class="author-name">Gustavo Cerati</p>
                  <div class="stars">
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-width-3-4">
                  <img class="uk-border-circle" src="/assets/images/client-say-author.png" alt="Autor">
                  <p> These days are all Happy and Free these days are all share them with me oh baby the Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch the no one you see is smarter than he so joinus Flipper Flipper faster.</p>
                  <hr>
                  <p class="author-name">Gustavo Cerati</p>
                  <div class="stars">
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-width-3-4">
                  <img class="uk-border-circle" src="/assets/images/client-say-author.png" alt="Autor">
                  <p> These days are all Happy and Free these days are all share them with me oh baby the Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch the no one you see is smarter than he so joinus Flipper Flipper faster.</p>
                  <hr>
                  <p class="author-name">Gustavo Cerati</p>
                  <div class="stars">
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </li>
            </ul>
            <a class="
              uk-position-center-left 
              uk-position-small 
              uk-visible@s" 
              href="#" 
              uk-slidenav-previous 
              uk-slider-item="previous">
            </a>
            <a class="
              uk-position-center-right
              uk-position-small 
              uk-visible@s" 
              href="#" 
              uk-slidenav-next 
              uk-slider-item="next">
            </a>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="uk-section-large uk-padding-remove-bottom">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-large uk-child-width-1-3@m" uk-grid>
      <div class="uk-width-1-1">
        <div class="section-title uk-width-2-3@m uk-margin-auto uk-text-center">
          <h2>Servicios</h2>
          <div class="uk-width-1-2@m uk-margin-auto title-divider">
            <i class="fi flaticon-scissors-cutting-hair"></i>
          </div>
          <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he so join us her are sure to get a smile from seven stranded.</p>
        </div>
      </div>
      <div class="services-left">
        <div class="services-item">
          <div>
            <h4>Cambio de estilo</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
          <i class="fi flaticon-short-hair-on-female-head-silhouette"></i>
        </div>
        <div class="services-item">
          <div>
            <h4>Rizados</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
          <i class="fi flaticon-curled-black-long-female-hair-shape"></i>
        </div>
        <div class="services-item">
          <div>
            <h4>Alisados</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
          <i class="fi flaticon-hair-straightener-on-long-female-hair"></i>
        </div>
      </div>
      <div>
        <img src="/assets/images/service.png" alt="Servicios">
      </div>
      <div class="services-right">
        <div class="services-item">
          <i class="fi flaticon-short-hair-on-female-head-silhouette"></i>
          <div>
            <h4>Cambio de estilo</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
        </div>
        <div class="services-item">   
          <i class="fi flaticon-curled-black-long-female-hair-shape"></i>
          <div>
            <h4>Rizados</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
        </div>
        <div class="services-item">
          <i class="fi flaticon-hair-straightener-on-long-female-hair"></i>
          <div>
            <h4>Alisados</h4>
            <p>These days are Happy and Free these days are all share them with me oh baby.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stylers" class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-1-3@m" uk-grid>

      <div class="uk-width-1-1">
        <div class="section-title uk-width-2-3@m uk-margin-auto uk-text-center">
          <h2>Estilistas</h2>
          <div class="uk-width-1-2@m uk-margin-auto title-divider">
            <i class="fi flaticon-scissors-cutting-hair"></i>
          </div>
          <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he so join us her are sure to get a smile from seven stranded.</p>
        </div>
      </div>

      <div class="styler">
        <figure>
          <img src="/assets/images/style1.png" alt="Estilista 1">
        </figure>
        <h5>Paul McCartney <span>- Estilista</span></h5>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="styler">
        <figure>
          <img src="/assets/images/style2.png" alt="Estilista 2">
        </figure>
        <h5>John Lennon <span>- Estilista</span></h5>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="styler">
        <figure>
          <img src="/assets/images/style3.png" alt="Estilista 3">
        </figure>
        <h5>Ringo Starr <span>- Estilista</span></h5>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="working-hours" class="uk-section-secondary">
  <div class="uk-section-large uk-light">
    <div class="uk-container">
      <div class="uk-flex-right" uk-grid>
        <div class="uk-width-1-2@m uk-text-center uk-text-left@m">
          <div class="section-title">
            <h2>Horarios</h2>
            <div class="uk-width-1-6@m title-divider"></div>
            <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he so join us her are sure to get a smile from seven stranded.</p>
          </div>
          <div class="working-hours uk-margin-top">
            <ul class="uk-list uk-list-collapse">
              <li>Lunes a Jueves</li>
              <li>8.00AM a 12.00AM</li>
              <li>1.00PM a 4.00PM</li>
              <li>5.00PM a 8.00PM</li>
            </ul>
            <hr class="uk-divider-vertical uk-visible@m">
            <hr class="uk-divider-small uk-hidden@m">
            <ul class="uk-list uk-list-collapse">
              <li>Viernes a Domingo</li>
              <li>8.00AM a 11.00AM</li>
              <li>12.00PM a 3.00PM</li>
              <li>4.00PM a 6.00PM</li>
            </ul>
          </div>
          <button class="
            section-btn
            uk-button 
            uk-button-primary 
            uk-margin-medium-top"
            routerLink="/contact">
            Contáctanos
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid-small uk-flex-center" uk-grid>
      <div class="section-title uk-width-1-1 uk-text-center">
        <h2>Precios</h2>
      </div>
      <div class="prices uk-width-2-3@m"> 
        <ul class="uk-list uk-list-collapse">
          <li>
            <span>Corte común</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Corte + Degrade</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Alisado</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Rizado</span>
            <hr>
            <span>$29.99</span>
          </li>
        </ul>
        <i class="fi flaticon-razor-to-cut-hairs uk-width-auto"></i>
        <ul class="uk-list uk-list-collapse">
          <li>
            <span>Corte común</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Corte + Degrade</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Alisado</span>
            <hr>
            <span>$29.99</span>
          </li>
          <li>
            <span>Rizado</span>
            <hr>
            <span>$29.99</span>
          </li>
        </ul>
      </div> 
      <div class="uk-width-1-1 uk-text-center">
        <button class="section-btn uk-button uk-button-primary">Ver más</button>
      </div> 
    </div>
  </div>
</section>

<section id="gallery" class="uk-section uk-section-primary">
  <div class="uk-container">
    <div class="uk-child-width-1-1" uk-grid>
      <div>
        <div class="section-title uk-width-2-3@m uk-margin-auto uk-text-center">
          <h2>Galería</h2>
          <div class="uk-width-1-2@m uk-margin-auto title-divider">
            <i class="fi flaticon-scissors-cutting-hair"></i>
          </div>
          <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he so join us her are sure to get a smile from seven stranded.</p>
        </div>
      </div>
      <div>
        <div tabindex="-1" uk-slider="sets: true">
          <div class="uk-position-relative">
            <div class="uk-slider-container"> 
              <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m" uk-lightbox>
                <li>
                  <a href="/assets/images/our-work-image1.png">
                    <img src="/assets/images/our-work-image1.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image2.png">
                    <img src="/assets/images/our-work-image2.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image3.png">
                    <img src="/assets/images/our-work-image3.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image4.png">
                    <img src="/assets/images/our-work-image4.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image5.png">
                    <img src="/assets/images/our-work-image5.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image6.png">
                    <img src="/assets/images/our-work-image6.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image7.png">
                    <img src="/assets/images/our-work-image7.png" alt="Corte">
                  </a>
                </li>
                <li>
                  <a href="/assets/images/our-work-image8.png">
                    <img src="/assets/images/our-work-image8.png" alt="Corte">
                  </a>
                </li>
              </ul>
            </div> 
            <a class="
              uk-visible@m
              uk-position-center-left-out 
              uk-position-small" 
              uk-slidenav-previous 
              uk-slider-item="previous">
            </a>
            <a class="
              uk-visible@m
              uk-position-center-right-out
              uk-position-small" 
              uk-slidenav-next 
              uk-slider-item="next">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>