<h3 mat-dialog-title>Editar horario</h3>

<mat-dialog-content>
	<form [formGroup]="form" layout="column">
		<mat-form-field appearance="fill" required>
			<mat-label>Día</mat-label>
			<mat-select 
				formControlName="workingDay" 
				[compareWith]="compareFn">
				<mat-option 
					*ngFor="let workingDay of data.workingDays" 
					[value]="workingDay">
					{{ workingDay.getDayName() | titlecase }}
				</mat-option>
			</mat-select>
			<mat-error>
				<ng-container 
					*ngTemplateOutlet="errorsTemplate; 
					context: { $implicit: 'workingDay' }">
				</ng-container>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill" required>
			<mat-label>Inicio</mat-label>
			<mat-select 
				formControlName="startTime" 
				[compareWith]="compareFn">
				<mat-option 
					*ngFor="let workingHour of workingHours"
					[value]="workingHour.hour"
					[disabled]="workingHour.available">
					{{ workingHour.hour.format('h:mm A') }}
				</mat-option>
			</mat-select>
			<mat-error>
				<ng-container 
					*ngTemplateOutlet="errorsTemplate; 
					context: { $implicit: 'startTime' }">
				</ng-container>
			</mat-error>
		</mat-form-field>
	  <mat-form-field appearance="fill" required>
			<mat-label>Fin</mat-label>
			<mat-select 
				formControlName="endTime" 
				[compareWith]="compareFn">
				<mat-option 
					*ngFor="let workingHour of workingHours"
					[value]="workingHour.hour"
					[disabled]="workingHour.available">
					{{ workingHour.hour.format('h:mm A') }}
				</mat-option>
			</mat-select>
			<mat-error>
				<ng-container 
					*ngTemplateOutlet="errorsTemplate; 
					context: { $implicit: 'endTime' }">
				</ng-container>
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Descripción</mat-label>
			<input 
				type="text" 
				formControlName="reason"
				matInput>
			<mat-error>
				<ng-container 
					*ngTemplateOutlet="errorsTemplate; 
					context: { $implicit: 'reason' }">
				</ng-container>
			</mat-error>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button 
		mat-button 
		color="primary" 
		mat-dialog-close>
		Cancelar
	</button>
	<button 
		mat-raised-button 
		color="accent" 
		[disabled]="form.invalid"
		appConfirm
		(confirm)="onSubmit(formData)">
		Aceptar
	</button>
</mat-dialog-actions>

<ng-template #errorsTemplate let-controlName>
	<ng-container *ngFor="let error of form.controls[controlName].errors | keyvalue">
		<ng-container 
			*ngTemplateOutlet="errorTemplate; 
			context: { $implicit: error.key }">
		</ng-container>
	</ng-container>
</ng-template>

<ng-template #errorTemplate let-error>
	<ng-container [ngSwitch]="error">
    <ng-container *ngSwitchCase="'required'">
      Este campo es obligatorio
    </ng-container>
    <ng-container *ngSwitchCase="'maxlength'">
      La información ingresada es demasiado extensa
    </ng-container>
	</ng-container>
</ng-template>